<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script>

    wx.config({
        debug: true,
        appId: '{$appId}',
        timestamp: {$timestamp},
        nonceStr: '{$nonceStr}',
        signature: '{$signature}',
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','previewImage','chooseImage','uploadImage','downloadImage']
    });
    console.log({
        debug: true,
        appId: '{$appId}',
        timestamp: {$timestamp},
        nonceStr: '{$nonceStr}',
        signature: '{$signature}',
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','previewImage','chooseImage','uploadImage','downloadImage']
    });

    wx.ready(function () {




        //var imgUrl = 'https://www.baidu.com/img/baidu_jgylogo3.gif';

        var title = '微信JSSDK分享的标题';

        var desc = "通过微信分享的描述";

        var link = 'http://www.egret.com/';

        var imgUrl = "https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png";

        wx.ready(function(){

            //朋友圈

            wx.onMenuShareTimeline({

                title: title, desc: desc, link: link, imgUrl: imgUrl,

                success: function () {

                    //alert('Share friends OK');



                    //朋友圈首页分享成功，记录分享记录

                    var url = window.location.href;

                    $.post(

                        'http://192.168.4.109/dest/ajax/share',

                        {

                            act:"<?php echo isset($item['id']) ? $item['id'] : '';?>",

                            actType:'item',

                            scene:'THBT_002',

                            shareTo:'wx_timeline',

                            sourceUrl:url,

                            targetUrl:link

                        }

                    );



                },cancel: function () {

                    //alert('Share friends Canceled');

                }

            });

            //朋友

            wx.onMenuShareAppMessage({

                title: title, desc: desc,  link: link,  imgUrl: imgUrl,  dataUrl: '',type: 'link',

                success: function () {

                    //alert('Share friends OK');



                    //朋友首页分享成功，记录分享记录

                    var url = window.location.href;

                    $.post(

                        'http://192.168.4.109/dest/ajax/share',

                        {

                            act:"<?php echo isset($item['id']) ? $item['id'] : '';?>",

                            actType:'item',

                            scene:'THBT_002',

                            shareTo:'wx_appmsg',

                            sourceUrl:url,

                            targetUrl:link

                        }

                    );



                },cancel: function () {

                    //alert('Share friends Canceled');

                }

            });

            //wx.hideOptionMenu();

        });


    });
</script>
</html>
